<p id="notice"><%= notice %></p>
<article class='post'>
	<hgroup>
	  <h2><%= @article.title %></h2>
	</hgroup>
	<p>
		<% if @article.has_photo? %>
		<%= image_tag @article.photo_path, class: 'img-article'%>
		<% else %>
			No photo
		<% end %>
	</p>
	<p id='article-body'>
	  <%= @article.body.html_safe %>
	</p>

	<p>
	  <b>Autor:</b>
	  <%= @article.user.username %>
	</p>
</article>
<p>Categories: <%= category_links(@article.categories)%></p>
<section id='comments'>
	<%= render 'comments' %>
</section>
<%= link_to 'Back', articles_path %>

<%= form_for (@comment) do |f| %>

<%= f.hidden_field :article_id %>
<p>
	<%= f.label :body, 'Comenta' %>
	<%= f.text_field :body %>
	<%= f.submit 'Send' %>
</p>
<% end %>
