<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, :autocomplete=>'off' %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :autocomplete=>'off' %>
  </div>
  <div class="field">
    <%= f.label :about %>
    <%= f.text_area :about, style: 'height:150px;' %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :autocomplete=>'off' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :autocomplete=>'off' %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
