<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>Mail:</b>
  <%= @user.email %>
</p>
<p>
  <b>Acerca de:</b>
  <%= @user.about %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
