<!DOCTYPE html>
<html>
<head>
  <title>Ecoding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class='navbar'>
		<div class='navbar-inner'>
			<div class='container'>
				<%= link_to 'E-coding', root_path, class:'brand'%>
				
				<ul class='nav'>
					<li><%= link_to 'Articles', articles_path %></li>
					<% if current_user %>
						<li><%= link_to 'Nuevo artículo', new_article_path%></li>
						<li><%= link_to "log out #{current_user.username}", logout_path %></li>
                        <li><%= link_to 'Editar tu usuario', edit_user_path(current_user) %></li>
					<% else %>
						<li><%= link_to 'log in', login_path %></li>
						<li><%= link_to 'Sign up', signup_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
	<div class='container'>
		<%= yield %>
	</div>
</body>
</html>
