<!DOCTYPE html>
<html>
<head>
  <title>Ecoding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class='navbar'>
		<div class='navbar-inner'>
			<div class='container'>			
				<ul class='nav'>
					<li><%= link_to 'E-coding', root_path, class:'brand'%></li>
					<li><%= link_to 'Articles', articles_path %></li>
					<li><%= link_to 'Categories', categories_path %></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class='container' id='main'>
		<%= yield %>
	</div>
</body>
</html>
